swagger: "2.0"
info:
  description: "This is a sample for jinaai hello-world-in-openapi.  You can find out more about     Jinaai at [https://github.com/jina-ai/](https://github.com/jina-ai/)."
  version: "1.0.0"
  title: "Jinaai openapi"
  termsOfService: "https://github.com/jina-ai/jina#license"
  contact:
    email: "hello@jina.ai"
  license:
    name: "Apache 2.0"
    url: "https://github.com/jina-ai/jina#license"
host: "jina.ai"
basePath: "/v1"
tags:
- name: "Doc"
  description: "Everything about "
  externalDocs:
    description: "Find out more"
    url: "http://jina.ai"
schemes:
- "https"
- "http"
paths:
  /Doc/index/:
    get:
      tags:
      - "Doc"
      summary: "index with an flow"
      description: "index with default flow yaml file"
      parameters:
      - name: "port_grpc"
        description: "port number of grpc"
        in: "path"
        required: true
        type: "integer"
        format: "string"
      - name: "host_grpc"
        description: "host ip address of grpc"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
      
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
  /Doc/query/:
    get:
      summary: "query indexed result"
      description: "querying"
      parameters:
      - name: "port_grpc"
        description: "port number of grpc"
        in: "path"
        required: true
        type: "integer"
        format: "string"
      - name: "host_grpc"
        description: "host ip address of grpc"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        
      - name: "batch_size"
        in: "path"
        description: "batch size of index"
        required: true
        type: "integer"
        format: "int64"
        
      responses:
        200:
          description: OK
      tags:
      - "Doc"
definitions:
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
