jina[hub, http]==2.0.0rc3.dev24
click==7.1.2
pytest==6.2.4
pytest-mock==3.6.1
transformers==4.1.1
torch==1.7.0
torchvision==0.8.1
PyPDF2==1.26.0
PyMuPDF==1.18.5
Pillow==8.2.0
pdfplumber==0.5.27
weasyprint==52.4
prettytable==2.1.0
