# ignore everything
data
pretrained
workspace
venv
.github
*.html

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories

**/*.log
**/Thumbs.db
**/.pyre/
**/.eggs/
__pycache__